.top-header
    .auth-links
        ul.auth-links__list
            li.auth-links__item
                a.auth-links__link(href="#{projectLink}")
                    i.icon-github
                    | Github project
include _top_menu

.logo
    a(href="/" title="На главную")
        img.logo__max(src="img/logo.png")
        img.logo__min(src="img/logo-min.png")
