.top-bar
    nav.navbar.navbar-fixed-top.bg-inverse.navbar-dark
        .top-bar__header.clearfix
            a.navbar-brand(href="/")
                img.d-inline-block.align-top(src="/img/favicons/mstile-40x40.png" width="40" height="40" alt="MFA")
                | MFA
            button.navbar-toggler.toggle-button.hidden-lg-up.float-xs-right(type="button" aria-expanded="false" aria-label="Toggle navigation")

