.top-bar
    nav.navbar.navbar-fixed-top.bg-inverse.navbar-dark
        .top-bar__header.clearfix
            a.navbar-brand(href="/")
                | WebDevelop
            button.navbar-toggler.toggle-button.hidden-lg-up.float-xs-right(type="button" aria-expanded="false" aria-label="Toggle navigation")

