.top-menu
    +nav('top-menu',
         'main',
         'price',
    {
        main: {
            name: 'Обо мне',
            link: '/'
        },
        list: {
            name: 'Проекты',
            link: '/catalog.html'
        },
        services: {
            name: 'Услуги',
            link: '/catalog.html'
        },
        summary: {
            name: 'Резюме',
            link: '/on-map.html'
        },
        contacts: {
            name: 'Контакты',
            link: '/on-map.html'
        },
        menu: {
            name: 'Меню',
            link: '/catalog.html'
        }
    },{
        services: {
            development: 'Разработка',
            support: 'Сопровождение',
            price: 'Цены'
        },
        menu: {
            main: 'Главная',
            contacts: 'Контакты',
            list: 'Проекты'
        }
    })