.top-menu
    +nav('top-menu', active, active_sub,
    {
        about: {
            name: 'Обо мне',
            link: '/about.html'
        },
        list: {
            name: 'Проекты',
            link: '/catalog.html'
        },
        services: {
            name: 'Услуги',
            link: '/services.html'
        },
        summary: {
            name: 'Резюме',
            link: '/summary.html'
        },
        contacts: {
            name: 'Контакты',
            link: '/contacts.html'
        },
        menu: {
            name: 'Еще ...',
            link: '#moreMenu'
        }
    },{
        menu: {
            about: 'Обо мне',
            catalog: 'Проекты',
            services: 'Услуги',
            summary: 'Резюме',
            contacts: 'Контакты'
        }
    })