.catalog-list.catalog-list_tile
    .list-header
        .row
            .col-sm-6

            .col-sm-6
                .list-header__view-list
                    a.list-header__in-list(href='#inlist')
                        i.icon-list
                        | Список
                    a.list-header__tile.list-header_active(href='#tile')
                        i.icon-tile
                        | Плитка
    .list-content
        .search-warning
            .search-warning__item
        #listMap.collapse
        +listObjects(
            [
                {
                    id: 1,
                    img: '/img/list-objects/1.jpg',
                    img_tile: '/img/objects/1.jpg',
                    title: 'Отель Три мушкетёра',
                    photo: '3 ',
                    link: '/3mushketera.html',
                    descriptions: 'У данного отеля уже давно существовал сайт с 2006 года. В 2017 году была произведена реконструкция здания. В связи с чем появилась необходимость обновить интернет ресурс.'
                }, {
                    id: 2,
                    img: '/img/list-objects/2.jpg',
                    img_tile: '/img/objects/2.jpg',
                    title: 'Пансионат Селена',
                    photo: '3 ',
                    link: '/selena.html',
                    descriptions: 'Пансионату Селена потребовался редизайн существующего сайта. В результате работы над данным сайтом было сделано ...'
                }, {
                    id: 3,
                    img: '/img/list-objects/4.jpg',
                    img_tile: '/img/objects/4.jpg',
                    title: 'Кафе Кураж',
                    photo: '3 ',
                    link: '/kafekurage.html',
                    descriptions: 'Небольшому кафе в Анапе потребовался сайт для доставки роллов, пиццы, суши. В результате работы над данным сайтом было сделано ...'
                }, {
                    id: 4,
                    img: '/img/list-objects/5.jpg',
                    img_tile: '/img/objects/5.jpg',
                    title: 'Смеси Пирамикс',
                    photo: '1 ',
                    link: '/piramix.html',
                    descriptions: 'Новой компании потребовался сайт. Стояла задача за 14 дней сделать сайт. Что в итоге было и сделано. В результате работы над данным сайтом было сделано ...'
                }, {
                    id: 5,
                    img: '/img/list-objects/3.jpg',
                    img_tile: '/img/objects/3.jpg',
                    title: 'Комплекс Афалина',
                    photo: '1 ',
                    link: '/afalina.html',
                    descriptions: 'Это один из самых первых моих сайтов. Поддержкой данного сайта я занимаюсь с 2008 года. В 2014 году был сделан редизайн сайта'
                }
            ]
        )
