section.best-objects
    header
        h2.title-header-2
            | Последние выполненные работы
    +card([
        [
            {
                title: "Отель Три мушкетёра",
                img: '1.jpg',
                loc: 'Сайт отеля',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }, {
                title: "Пансионат Селена",
                img: '2.jpg',
                loc: 'Сайт пансионата',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }, {
                title: "Кафе Кураж",
                img: '4.jpg',
                loc: 'Сайт кафе',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }
        ], [
            {
                title: "Смеси Пирамикс",
                img: '5.jpg',
                loc: 'Сайт компании',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            },
            {
                title: "Комплекс Афалина",
                img: '3.jpg',
                loc: 'Сайт базы отдыха',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }, {
                title: "Проект",
                img: '6.jpg',
                loc: 'Добавить проект',
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }
        ]
    ])

    .text-center
        a.btn-out-line(href="#")
            | Смотреть все работы