section.best-objects
    header
        h2.title-header-2
            | Последние выполненные работы
    +card([
        [
            {
                title: "Отель Три мушкетёра",
                img: '1.jpg',
                loc: 'Сайт отеля',
                link: '/3mushketera.html',
                photo: 3,
                text: 'У данного отеля уже давно существовал сайт с 2006 года. В 2017 году была произведена реконструкция здания. В связи с чем появилась необходимость обновить интернет ресурс.'
            }, {
                title: "Пансионат Селена",
                img: '2.jpg',
                loc: 'Сайт пансионата',
                link: '/selena.html',
                photo: 3,
                text: 'Пансионату Селена потребовался редизайн существующего сайта. В результате работы над данным сайтом было сделано ...'
            }, {
                title: "Кафе Кураж",
                img: '4.jpg',
                loc: 'Сайт кафе',
                link: '/kafekurage.html',
                photo: 3,
                text: 'Небольшому кафе в Анапе потребовался сайт для доставки роллов, пиццы, суши. В результате работы над данным сайтом было сделано ...'
            }
        ], [
            {
                title: "Смеси Пирамикс",
                img: '5.jpg',
                loc: 'Сайт компании',
                link: '/piramix.html',
                photo: 1,
                text: 'Новой компании потребовался сайт. Стояла задача за 14 дней сделать сайт. Что в итоге было и сделано. В результате работы над данным сайтом было сделано ...'
            },
            {
                title: "Комплекс Афалина",
                img: '3.jpg',
                loc: 'Сайт базы отдыха',
                link: '/afalina.html',
                photo: 1,
                text: 'Это один из самых первых моих сайтов. Поддержкой данного сайта я занимаюсь с 2008 года. В 2014 году был сделан редизайн сайта'
            }, {
                title: "Проект",
                img: '6.jpg',
                loc: 'Добавить проект',
                link: '',
                photo: 3,
                text: ''
            }
        ]
    ])

    .text-center
        a.btn-out-line(href="/catalog.html")
            | Смотреть все работы