section.best-objects
    header
        h2.title-header-2
            | Последние выполненные работы
    +card([
        [
            {
                title: "Отель Три мушкетёра",
                img: '1.jpg',
                loc: 'Сайт отеля',
                link: '/3mushketera.html',
                photo: 3,
                text: 'У данного отеля уже давно существовал сайт с 2006 года. В 2017 году была произведена реконструкция здания. В связи с чем появилась необходимость обновить интернет ресурс.'
            }, {
                title: "Пансионат Селена",
                img: '2.jpg',
                loc: 'Сайт пансионата',
                link: '/selena.html',
                photo: 3,
                text: 'Пансионату Селена потребовался редизайн существующего сайта. В результате работы над данным сайтом было сделано ...'
            }, {
                title: "Кафе Кураж",
                img: '4.jpg',
                loc: 'Сайт кафе',
                link: '',
                photo: 3,
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }
        ], [
            {
                title: "Смеси Пирамикс",
                img: '5.jpg',
                loc: 'Сайт компании',
                link: '',
                photo: 3,
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            },
            {
                title: "Комплекс Афалина",
                img: '3.jpg',
                loc: 'Сайт базы отдыха',
                link: '',
                photo: 3,
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }, {
                title: "Проект",
                img: '6.jpg',
                loc: 'Добавить проект',
                link: '',
                photo: 3,
                text: 'Курортный spa-отель Aqua Vista Resort &Spa, построенный в 2008 году в традиционном египетском стиле и окруженный садами, расположен на втором береговой линии, в 7 км от международного аэропорта'
            }
        ]
    ])

    .text-center
        a.btn-out-line(href="/catalog.html")
            | Смотреть все работы