// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-close-name: 's-close';
$s-close-x: 0px;
$s-close-y: 94px;
$s-close-offset-x: 0px;
$s-close-offset-y: -94px;
$s-close-width: 20px;
$s-close-height: 20px;
$s-close-total-width: 150px;
$s-close-total-height: 114px;
$s-close-image: '../img/main-sprite.png';
$s-close: (0px, 94px, 0px, -94px, 20px, 20px, 150px, 114px, '../img/main-sprite.png', 's-close', );
$s-exit-name: 's-exit';
$s-exit-x: 58px;
$s-exit-y: 94px;
$s-exit-offset-x: -58px;
$s-exit-offset-y: -94px;
$s-exit-width: 18px;
$s-exit-height: 18px;
$s-exit-total-width: 150px;
$s-exit-total-height: 114px;
$s-exit-image: '../img/main-sprite.png';
$s-exit: (58px, 94px, -58px, -94px, 18px, 18px, 150px, 114px, '../img/main-sprite.png', 's-exit', );
$s-github-name: 's-github';
$s-github-x: 89px;
$s-github-y: 0px;
$s-github-offset-x: -89px;
$s-github-offset-y: 0px;
$s-github-width: 34px;
$s-github-height: 34px;
$s-github-total-width: 150px;
$s-github-total-height: 114px;
$s-github-image: '../img/main-sprite.png';
$s-github: (89px, 0px, -89px, 0px, 34px, 34px, 150px, 114px, '../img/main-sprite.png', 's-github', );
$s-hand-key-name: 's-hand-key';
$s-hand-key-x: 86px;
$s-hand-key-y: 94px;
$s-hand-key-offset-x: -86px;
$s-hand-key-offset-y: -94px;
$s-hand-key-width: 18px;
$s-hand-key-height: 18px;
$s-hand-key-total-width: 150px;
$s-hand-key-total-height: 114px;
$s-hand-key-image: '../img/main-sprite.png';
$s-hand-key: (86px, 94px, -86px, -94px, 18px, 18px, 150px, 114px, '../img/main-sprite.png', 's-hand-key', );
$s-icon-image-name: 's-icon-image';
$s-icon-image-x: 133px;
$s-icon-image-y: 20px;
$s-icon-image-offset-x: -133px;
$s-icon-image-offset-y: -20px;
$s-icon-image-width: 15px;
$s-icon-image-height: 11px;
$s-icon-image-total-width: 150px;
$s-icon-image-total-height: 114px;
$s-icon-image-image: '../img/main-sprite.png';
$s-icon-image: (133px, 20px, -133px, -20px, 15px, 11px, 150px, 114px, '../img/main-sprite.png', 's-icon-image', );
$s-icon-list-name: 's-icon-list';
$s-icon-list-x: 133px;
$s-icon-list-y: 0px;
$s-icon-list-offset-x: -133px;
$s-icon-list-offset-y: 0px;
$s-icon-list-width: 17px;
$s-icon-list-height: 10px;
$s-icon-list-total-width: 150px;
$s-icon-list-total-height: 114px;
$s-icon-list-image: '../img/main-sprite.png';
$s-icon-list: (133px, 0px, -133px, 0px, 17px, 10px, 150px, 114px, '../img/main-sprite.png', 's-icon-list', );
$s-log-in-name: 's-log-in';
$s-log-in-x: 30px;
$s-log-in-y: 94px;
$s-log-in-offset-x: -30px;
$s-log-in-offset-y: -94px;
$s-log-in-width: 18px;
$s-log-in-height: 18px;
$s-log-in-total-width: 150px;
$s-log-in-total-height: 114px;
$s-log-in-image: '../img/main-sprite.png';
$s-log-in: (30px, 94px, -30px, -94px, 18px, 18px, 150px, 114px, '../img/main-sprite.png', 's-log-in', );
$s-pdf-name: 's-pdf';
$s-pdf-x: 0px;
$s-pdf-y: 0px;
$s-pdf-offset-x: 0px;
$s-pdf-offset-y: 0px;
$s-pdf-width: 35px;
$s-pdf-height: 40px;
$s-pdf-total-width: 150px;
$s-pdf-total-height: 114px;
$s-pdf-image: '../img/main-sprite.png';
$s-pdf: (0px, 0px, 0px, 0px, 35px, 40px, 150px, 114px, '../img/main-sprite.png', 's-pdf', );
$s-required-mark-name: 's-required_mark';
$s-required-mark-x: 133px;
$s-required-mark-y: 83px;
$s-required-mark-offset-x: -133px;
$s-required-mark-offset-y: -83px;
$s-required-mark-width: 8px;
$s-required-mark-height: 8px;
$s-required-mark-total-width: 150px;
$s-required-mark-total-height: 114px;
$s-required-mark-image: '../img/main-sprite.png';
$s-required-mark: (133px, 83px, -133px, -83px, 8px, 8px, 150px, 114px, '../img/main-sprite.png', 's-required_mark', );
$s-right-arrow-name: 's-right-arrow';
$s-right-arrow-x: 133px;
$s-right-arrow-y: 41px;
$s-right-arrow-offset-x: -133px;
$s-right-arrow-offset-y: -41px;
$s-right-arrow-width: 13px;
$s-right-arrow-height: 11px;
$s-right-arrow-total-width: 150px;
$s-right-arrow-total-height: 114px;
$s-right-arrow-image: '../img/main-sprite.png';
$s-right-arrow: (133px, 41px, -133px, -41px, 13px, 11px, 150px, 114px, '../img/main-sprite.png', 's-right-arrow', );
$s-search-icon-name: 's-search-icon';
$s-search-icon-x: 109px;
$s-search-icon-y: 50px;
$s-search-icon-offset-x: -109px;
$s-search-icon-offset-y: -50px;
$s-search-icon-width: 14px;
$s-search-icon-height: 14px;
$s-search-icon-total-width: 150px;
$s-search-icon-total-height: 114px;
$s-search-icon-image: '../img/main-sprite.png';
$s-search-icon: (109px, 50px, -109px, -50px, 14px, 14px, 150px, 114px, '../img/main-sprite.png', 's-search-icon', );
$s-telegram-name: 's-telegram';
$s-telegram-x: 0px;
$s-telegram-y: 50px;
$s-telegram-offset-x: 0px;
$s-telegram-offset-y: -50px;
$s-telegram-width: 34px;
$s-telegram-height: 34px;
$s-telegram-total-width: 150px;
$s-telegram-total-height: 114px;
$s-telegram-image: '../img/main-sprite.png';
$s-telegram: (0px, 50px, 0px, -50px, 34px, 34px, 150px, 114px, '../img/main-sprite.png', 's-telegram', );
$s-tile-name: 's-tile';
$s-tile-x: 133px;
$s-tile-y: 62px;
$s-tile-offset-x: -133px;
$s-tile-offset-y: -62px;
$s-tile-width: 11px;
$s-tile-height: 11px;
$s-tile-total-width: 150px;
$s-tile-total-height: 114px;
$s-tile-image: '../img/main-sprite.png';
$s-tile: (133px, 62px, -133px, -62px, 11px, 11px, 150px, 114px, '../img/main-sprite.png', 's-tile', );
$s-user-login-name: 's-user-login';
$s-user-login-x: 78px;
$s-user-login-y: 50px;
$s-user-login-offset-x: -78px;
$s-user-login-offset-y: -50px;
$s-user-login-width: 21px;
$s-user-login-height: 21px;
$s-user-login-total-width: 150px;
$s-user-login-total-height: 114px;
$s-user-login-image: '../img/main-sprite.png';
$s-user-login: (78px, 50px, -78px, -50px, 21px, 21px, 150px, 114px, '../img/main-sprite.png', 's-user-login', );
$s-user-name: 's-user';
$s-user-x: 44px;
$s-user-y: 50px;
$s-user-offset-x: -44px;
$s-user-offset-y: -50px;
$s-user-width: 24px;
$s-user-height: 24px;
$s-user-total-width: 150px;
$s-user-total-height: 114px;
$s-user-image: '../img/main-sprite.png';
$s-user: (44px, 50px, -44px, -50px, 24px, 24px, 150px, 114px, '../img/main-sprite.png', 's-user', );
$s-vk-name: 's-vk';
$s-vk-x: 45px;
$s-vk-y: 0px;
$s-vk-offset-x: -45px;
$s-vk-offset-y: 0px;
$s-vk-width: 34px;
$s-vk-height: 34px;
$s-vk-total-width: 150px;
$s-vk-total-height: 114px;
$s-vk-image: '../img/main-sprite.png';
$s-vk: (45px, 0px, -45px, 0px, 34px, 34px, 150px, 114px, '../img/main-sprite.png', 's-vk', );
$spritesheet-width: 150px;
$spritesheet-height: 114px;
$spritesheet-image: '../img/main-sprite.png';
$spritesheet-sprites: ($s-close, $s-exit, $s-github, $s-hand-key, $s-icon-image, $s-icon-list, $s-log-in, $s-pdf, $s-required-mark, $s-right-arrow, $s-search-icon, $s-telegram, $s-tile, $s-user-login, $s-user, $s-vk, );
$spritesheet: (150px, 114px, '../img/main-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
