extends ../_main

block title
    | Информация. Обо мне.

block header
    - var active = 'about';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Обо мне',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Обо мне
                    .text-descriptions
                        .text-descriptions__content.text-descriptions__content_short
                            p.text-justify.text-descriptions__text
                                | Привет! Благодарю вас за проявленный интерес к моему сайту!
                                | Что же я могу рассказать о себе, чтобы это было интересно Вам?
                            p.text-justify.text-descriptions__text
                                | Для меня это сложный вопрос. Ведь что можно рассказать незнакомому человеку о своей персоне,
                                | вызвав хоть какой-то интерес? Но я все-таки попробую тут изложить свои мысли по этому поводу.
                            h2.page-title
                                | Мои взгляды на жизнь
                            p.text-justify.text-descriptions__text
                                | Сегодня мир вокруг нас меняется с бешенной скоростью. И все эти изменения так или
                                | иначе затрагивают все аспекты человеческой жизни. Меняются люди, технологии, исчезают
                                | и появляются новые профессии. Хорошо это или плохо пусть каждый для себя решает сам.
                                | Но прогресс не остановить.

                            p.text-justify.text-descriptions__text
                                | Рассказал бы мне кто-нибудь лет 20 назад как поменяется жизнь, наверное, бы не поверил.
                                | Хотя, чего удивляться? Многие удивительные вещи, явления окружают нас, объяснить которые
                                | зачастую бывает очень сложно, а иногда просто невозможно. Но человек быстро привыкает
                                | ко всему происходящему, подстраиваясь под новые условия окружающей среды.

                            p.text-justify.text-descriptions__text
                                | Однако есть вещи и ценности, которые должны оставаться в неизменном виде. Что мне
                                | нравиться в человеке больше всего? Есть ряд качеств, которыми должен обладать любой
                                | нормальный человек:
                                ul
                                    li
                                        | честность по отношению к себе и окружающим
                                    li
                                        | порядочность
                                    li
                                        | справедливость
                                    li
                                        | ответственность
                                    li
                                        | целеустремленность


