extends ../_main

block title
    | Информация. Обо мне.

block header
    - var active = 'about';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Обо мне',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Обо мне
                    .text-descriptions
                        .text-descriptions__content.text-descriptions__content_short
                            p.text-justify.text-descriptions__text
                                | В этом списке содержатся работы, которые когда-то были выполнены мной.
                                | На самом деле их гораздо больше.