extends ../_main

block title
    | Проекты. Список выполненных работ.

block header
    - var active = 'list';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Список работ',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Список выполненных работ
                    .text-descriptions
                        .text-descriptions__content.text-descriptions__content_short
                            p.text-justify.text-descriptions__text
                                | В этом списке содержатся работы, которые когда-то были выполнены мной.
                                | Есть у другие работы. Но пока решил ограничиться этим списком.
                                | Список буду постепенно дополнять новыми работами.
                    include ../_common/list-objects/_list-objects