extends ../_main

block title
    | Контакты

block header
    - var active = 'contacts';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Контакты',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Контакты
                    .text-descriptions
                        .text-descriptions__content.text-descriptions__content_short
                            p.text-justify.text-descriptions__text
                                | Для связи со мной, пожалуйста, используйте следующие контактные данные: