extends ../_main

block title
    | Услуги по разработке

block header
    - var active = 'services';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Услуги',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Услуги
                    .text-descriptions
                        .text-descriptions__content.text-descriptions__content_short
                            p.text-justify.text-descriptions__text
                                | Перечень оказываемых услуг:
                            ul
                                li
                                    | составление технического задания на разработку сайта
                                li
                                    | разработка дизайна макета будущего сайта
                                li
                                    | верстка html-макета
                                li
                                    | программирование (PHP, Javascript)
                                li
                                    | наполнение сайта необходимой информацией
                                li
                                    | сопровождение и поддержка сайта, после сдачи его заказчику

                            p.text-justify.text-descriptions__text
                                | Цены на оказываемые услуги могут быть разными. Все зависит от ваших пожеланий.
