extends ../_main

block title
    | Резюме разработчика

block header
    - var active = 'summary';
    - var active_sub = '';
    include ../_common/header/_header

block content
    .container
        +breadcrumb([
            {
                name: 'Главная',
                url: '/'
            },
            {
                name: 'Резюме',
                url: '/'
            }
        ], 'breadcrumb_life')
        .row
            .col-lg-3
                aside.equal-column-height
                    include ../_common/left-sidebar/_left-sidebar
            .col-lg-9
                main
                    h1.main-title
                        | Резюме
                    .text-descriptions
                        .text-descriptions__content
                            .action-block
                                a.action-block__link(href="#{pdfLink}")
                                    i.icon-pdf
                                    | Скачать резюме в формате .pdf
                            p.text-justify.text-descriptions__text
                                | Приветствую тебя потенциальный работодатель! В этом небольшом, но содержательном резюме, я бы хотел
                                | рассказать о себе как о веб-разработчике.
                            p.text-justify.text-descriptions__text
                                | В настоящий момент я удалённо выполняю заказы по разработке и сопровождению сайтов.
                            p.text-justify.text-descriptions__text
                                | Имеется опыт как FrontEnd, так и BackEnd разработки. Знаком с seo-продвижением.
                            p.text-justify.text-descriptions__text
                                | При разработке использую следующие технологии: PHP • JavaScript • ООП • MySQL •
                                | Yii framework • Codeigniter • Git • Ajax • Sass • Twitter Bootstrap • Gulp • HTML5 • Jade
                            p.text-justify.text-descriptions__text
                                | Увидеть примеры моих работ, а также получить дополнительную информацию можно на данном сайте.
                            p.text-justify.text-descriptions__text
                                | Мои интересы:
                                br
                                | Я заинтересован в долгосрочном сотрудничестве в проектах с различным уровнем сложности.
                                | Пока я рассматриваю предложения только с удалённой работой, но в случае необходимости готов к переезду.
                                | Я также заинтересован в развитии своих профессиональных качеств и навыков.
                            p.text-justify.text-descriptions__text
                                | Предыдущее место работы - это небольшая компания, имеющая 2 сайта с небольшой посещаемостью от 2000 - 15000 человек в сутки.
                                | В этой компании с 2010 по 2017 год я занимался сопровождением и доработкой существующего функционала сайтов компании, а также небольшого числа сайтов визиток наших клиентов.
                            p.text-justify.text-descriptions__text
                                |Также во время работы над этими проектами, мною был разработан еще один новый сайт для компании схожей тематики, который работает и по сей день, принося отличный доход!
                            p.text-justify.text-descriptions__text
                                | За время работы над сайтами было сделано:
                                ul
                                    li
                                        | были свёрстаны новые макеты для сайтов
                                    li
                                        | написан личный кабинет для пользователей
                                    li
                                        | написан личный кабинет для менеджеров (модераторов)
                                    li
                                        | разработана небольшая CRM-система, с возможностью напоминаний о совершении
                                        | каких-либо действий, учёт платежей за размещение информации
                                    li
                                        | смс-рассылка о забытых паролях, смс-оповещение о поступивших заявках клиентам
                                        | через собственные шлюзы смс-рассылок
                                    li
                                        | резервное копирование данных
                            p.text-justify.text-descriptions__text
                                | В проектах использовались следующие технологии:
                            p.text-justify.text-descriptions__text
                                | PHP 5.4, MySQL, Bootstrap 3, JavaScript, jQuery, Less, Git
                            p.text-strong
                                | Я всегда готов к диалогу. Если что-то не понятно или у Вас появились вопросы пишите или звоните!


