- var nameDeveloper = 'Дмитрий';
- var nameSite = 'Разработка и сопровождение сайтов';
- var phone = '+79184907782';
- var email = 'turchenko-dm@ya.ru';
- var createdDate = '2017';

- var gitHubLink = 'https://github.com/Dmitrytyt';
- var telegramLink = 'https://telegram.me/Dmitrytyt7';
- var vkLink = 'https://vk.com/dmitrytyt';
- var pdfLink = 'http://demo-me.ru/turchenko-dm.pdf'
- var projectLink = 'https://github.com/Dmitrytyt/my-portfolio-template';