.left-sidebar
    .left-sidebar__location
        .text-center
            img.left-sidebar__user-photo.rounded.img-fluid(src="/img/user/user.png")
            span.left-sidebar__title
                | Дмитрий
            br
            a(href="tel:+79184908872")
                span.left-sidebar__title
                    | +7 918 490 88 72
