#messageScreen
    .closebt-container.close-viewMessage
        img.closebt(src="/img/closebt.svg")
    .modal-container
        .container
            .user-callback
                .message.text-center