section#servises
    h2.title-header-2
        | Навыки и умения
    .services
        +listServices([
            'PHP',
            'JavaScript',
            'ООП',
            'MySQL',
            'Yii2',
            'jQuery',
            'Git',
            'Ajax',
            'Sass',
            'Less',
            'Twitter Bootstrap',
            'Адаптивная верстка',
            'Gulp',
            'HTML5',
            'Css3',
            'Seo',
            'PhotoShop',
            'Jade',
            'Codeigniter',
            'Kohana',
            'Bower'
        ])
