.left-sidebar {

  &__user-photo {
    border-radius: 50%;
    margin-bottom: 1rem;
    max-width: 170/16+rem;
    max-height: 170/16+rem;
  }

  &__wrap {
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    color: #39434c;
    display: block;
  }

  &__descriptions {
    font-family: "Clear Sans Thin", Helvetica, Arial, sans-serif;
    color: #768696;
    display: block;
  }

  &__phone {
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    margin-bottom: 1rem;
    display: block;
  }

}


@include media-breakpoint-down(xs) {
  .left-sidebar {
    &__wrap {
      min-height: 80vh;
    }

  }
}