.left-sidebar {

  &__user-photo {
    border-radius: 50%;
    margin-bottom: 1rem;
    max-width: 170/16+rem;
    max-height: 170/16+rem;
  }

  &__location {
    padding: 0 1rem 0 1rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    color: #39434c;
  }

}

// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-down(md) {
  .left-sidebar {

    &__location {
      display: none;
    }

    .filters {
      .search-form {
        //display: none;
      }
    }

  }
}