nav#sladeMenu.menu
    header.menu__header
        i.js-slideout-close.toggle-button
    +sladeMenu([
        {
            name: 'Главная',
            link: '/'
        },
        {
            name: 'Обо мне',
            link: '/'
        },
        {
            name: 'Проекты',
            link: '/'
        },
        {
            name: 'Услуги',
            link: '/'
        },
        {
            name: 'Резюме',
            link: '/'
        },
        {
            name: 'Контакты',
            link: '/'
        }
    ])
